body{
    background-color: rgba(14, 90, 145, 1);
    text-align: center;
}
.heading{
    color: rgb(48, 3, 3);
    text-align: center;
    font-size: 30px;
}
.game{
    font-size: 50px;
    margin-top: 40px;
}
.guess{
    box-sizing: border-box;
    background-color: rgba(48, 62, 81, 1);
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    width: 250px;
    color: rgba(96, 156, 157, 1);
    text-align: center;
    font-size: 40px;
}
.button{
    border-radius: 10px;
    background-color: rgba(32, 72, 124, 1);
    color: black;
    font-size: 40px;
    margin-top: 80px;
    cursor: pointer;
}
.records{
    margin-top: 30px;
    font-size:  20px;
}
#newGame{
    cursor: pointer;
    background-color: black;
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    color: rgba(32, 66, 111, 1);
    text-align: center;
    font-size: 40px;
    border-radius: 10px; 
}
